<div id="sponsors">

	<h1>Club Sponsors</h1>

	<%=h discounts_url %>

	<% sponsor_types %>
	<% sponsor_types.each do | st | %>

		<h2><%= st.name.capitalize %> Sponsors</h2>
    <div id="item_body">
		<% st.sponsors.each do |sponsor| %>

		  <% next unless sponsor.active? %>
		  <h3><%= sponsor.name %></h3>
			<p><%= image_tag(sponsor.logo_url) %></p>
			<p><em><b><%= sponsor.slogan %></b></em></p>
			<hr />
			<%= sponsor.description %>
			<p><%= link_to("Click here to visit the sponsor's website.", sponsor.url,
	:target => '_blank') %></p>

		<% end %>
		</div>
<!--		<p><img src="../images/pv_logo_separator.png" /></p>	-->
	<% end %>

</div>

