<div id="club_races">
	<h1>Club Sponsored Races</h1>

	<% race_types %>
	<% race_types.each do | rt | %>
	  <h2><%= rt.name.capitalize %></h2>
    <div id="item_body">
		<% rt.races.each do | r | %>
			<h3><%= r.name %></h2>
      <hr />
      <table>
				<tr><td><b>Date</b></td><td><%= r.date %></td>
				<tr><td><b>Organizer</b></td><td><%= r.organizer %></td>
				<tr><td><b>Location</b></td><td><%= r.place %></td>
				<tr><td><b>Start</b></td><td><%= r.start_location %></td>
				<tr><td><b>Finish</b></td><td><%= r.finish_location %></td>
				<tr><td><b>Link to Website</b></td><td><%= link_to("Click here to visit the race website", r.link_to_website, :target => "_blank") %></td>
				<tr><td><b>Link to Registration</b></td><td><%= link_to("Click here to visit the race registration website", r.link_to_registration, :target => "_blank") %></td>
				<tr><td><b>Description</b></td><td><%= r.description %></td>
			</table>
	  <% end %>
    </div>
	<% end %>
</div>

