<h1>Post</h1>
<div id="listing">
<table>
  <tr><th>Date</th><td><%=h @post.created_at %></td></tr>
  <tr><th>Title</th><td><%=h @post.title %></td></tr>
  <tr><th>Tags</th><td><%=h @post.tags %></td></tr>
  <tr><th>Entry</th><td><%=h @post.entry %></td></tr>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>"><th>Comments</th><td>
    <ul>
      <% @post.comments.each do |comment| %>
        <li><%=h comment.created_at %><br /><%=h comment.entry %></li><br />
      <% end %>
    </ul>
  </td></tr>
</table>
</div>
<% form_for [:club, @post, Comment.new] do |f| %>
  <p><%= f.text_area :entry %></p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>
<p>
  <%= link_to 'Back', club_posts_path %>
</p>

