<ul>
	<li><%= link_to "Suggestions", root_url %></li>
	<li><%= link_to "New Features", root_url %></li>
	<li><%= link_to "Change requests", root_url %></li>
	<li><%= link_to "Bug Reports", common_bug_reports_path %></li>
	<li><%= link_to 'New Feedback', new_common_feedback_path %></li>
</ul>

