<div id="listing">
  <h1>Listing Feedback</h1>

  <h3><%= link_to 'New Feedback', new_common_feedback_path %></h3>

  <table>
    <tr>
      <th>ID</th>
      <th>Feedback</th>
      <th>Feedback type</th>
      <th>Date</th>
    </tr>

    <% feedbacks.each do |feedback| %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
        <td><%=h feedback.id %></td>
        <td><%=h truncate(feedback.feedback, :length => 20) %></td>
        <td><%=h feedback.feedback_type.name %></td>
        <td><%=h feedback.updated_at.to_s(:rfc822) %></td>

        <td><%= link_to 'Show', common_feedback_path(feedback) %></td>
        <td><%= link_to 'Edit', edit_common_feedback_path(feedback) %></td>
      </tr>
    <% end %>
  </table>

  <h3><%= link_to 'New Feedback', new_common_feedback_path %></h3>

</div>

