<h1>Content</h1>

<table>
<tr><th>ID:</th><td><%=h @content.id %></td></tr>
<tr><th>Title:</th><td><%=h @content.title %></td></tr>
<tr><th>Entry:</th><td><%=h @content.entry %></td></tr>
<tr><th>Tags:</th><td><%=h @content.tags %></td></tr>
<tr><th>Content type id:</th><td><%=h @content.content_type_id %></td></tr>
<tr><th>Content type:</th><td><%=h ContentType.find(@content.content_type_id).name %></td></tr>
<tr><th>Created at:</th><td><%=h @content.created_at %></td></tr>
<tr><th>Updated at:</th><td><%=h @content.updated_at %></td></tr>
</table>

<p>
  <%= link_to 'Back', admin_contents_path %> |
  <%= link_to 'Edit', edit_admin_content_path(@content) %>
</p>

