<p>
  <h2>Contact</h2>
  <%= f.label :street %>&nbsp;<%= f.text_field :street %><br />
  <%= f.label :city %>&nbsp;<%= f.text_field :city %><br />
  <%= f.label :state %>&nbsp;<%= f.text_field :state %><br />
  <%= f.label :zip %>&nbsp;<%= f.text_field :zip %><br />
  <%= f.label :country %>&nbsp;<%= f.text_field :country %><br />
  <%= f.label :primary_phone %>&nbsp;<%= f.text_field :primary_phone %><br />
  <%= f.label :secondary_phone %>&nbsp;<%= f.text_field :secondary_phone %><br />
  <%= f.label :email %>&nbsp;<%= f.text_field :email %><br />
  <%= f.label :im_handle %>&nbsp;<%= f.text_field :im_handle %><br />
  <%= f.label :im_type %>&nbsp;<%= f.text_field :im_type %>
</p>

