<% form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <h2>User Profile</h2>
  <p><%= f.label :first_name %>&nbsp;<%= f.text_field :first_name %></p>
  <p><%= f.label :middle_initial %>&nbsp;<%= f.text_field :middle_initial %></p>
  <p><%= f.label :last_name %>&nbsp;<%= f.text_field :last_name %></p>
  <p><%= f.file_field :photo, :label => 'User photo'  %></p>

  <p><% f.fields_for :contacts do |builder| %>
    <%= render "std_contact_fields", :f => builder %>
    <% end %>
  </p>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

