<h1>Listing Feedback</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Feedback</th>
    <th>Feedback type</th>

    <th>Created At</th>
    <th>Updated At</th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <tr>
    <td><%=h feedback.id %></td>
    <td><%=h feedback.feedback %></td>
    <td><%=h feedback.feedback_type.name %></td>

    <td><%=h feedback.created_at %></td>
    <td><%=h feedback.updated_at %></td>

    <td><%= link_to 'Show', admin_feedback_path(feedback) %></td>
    <td><%= link_to 'Edit', edit_admin_feedback_path(feedback) %></td>
    <td><%= link_to "Delete", admin_feedback_path(feedback), :confirm => 'Are you sure?',:method => :delete  %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'Create New Feedback', new_admin_feedback_path %>
</p>

