<div id="directors">
<h3>Directors</h3>
<% director_uniforms.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td><td><%=h member_positions(f.position_ids) %></td></tr>
    </table>
  <% end %>
  <% director_sponsorhip.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td><td><%=h member_positions(f.position_ids) %></td></tr>
    </table>
  <% end %>
  <% director_membership.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td><td><%=h member_positions(f.position_ids) %></td></tr>
    </table>
  <% end %>
  <% director_athletics.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td><td><%=h member_positions(f.position_ids) %></td></tr>
    </table>
  <% end %>
  <% director_women.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td><td><%=h member_positions(f.position_ids) %></td></tr>
    </table>
  <% end %>
  <% director_century.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td><td><%=h member_positions(f.position_ids) %></td></tr>
    </table>
  <% end %>
  <% director_burlingame.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td><td><%=h member_positions(f.position_ids) %></td></tr>
    </table>
  <% end %>
  <% director_sanbruno.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td><td><%=h member_positions(f.position_ids) %></td></tr>
    </table>
  <% end %>
</div>

