  <h1>About <%=h @pv_club.name %></h1>

	<p><%= @pv_club.description %></p>

	<h2>Geographical Location</h2>
	<p><%=h @pv_club.location %></p>
	<h3>Contact info</h3>
	<table>
		<tr><td>Phone</td><td><%=h @pv_club.phone %></td></tr>
		<tr><td>Email</td><td><%= auto_link_email_addresses(@pv_club.email) %></td></tr>
		<tr><td>Url</td><td><%=h link_to("penvelo.org", @pv_club.url, :target => "_blank") %></td></tr>
	</table>

	<h3>Club Officers</h3>
  <% if @club_officers != nil  %>
	  <% @club_officers.each do |f| %>
	  <table>
		  <tr><td>f.name</td><td><%=h f.role %></td></tr>
	  </table>
	  <% end %>
	<% end %>

	<h3>Board Members</h3>
  <% if @board_members != nil  %>
    <% @board_members.each do |f| %>
    <table>
	    <tr><td>f.name</td><td><%=h f.role %></td></tr>
    </table>
    <% end %>
	<% end %>

	<h3>Directors</h3>
  <% if @club_directors != nil  %>
	  <% @club_directors.each do |f| %>
	  <table>
		  <tr><td>f.name</td><td><%=h f.role %></td></tr>
	  </table>
	  <% end %>
	<% end %>

