<div id="about">
  <h1>About <%=h @pv_club.name %></h1>

	<p><%= @pv_club.description %></p>

	<h2>Geographical Location</h2>
	<p><%=h @pv_club.location %></p>
	<h3>Contact info</h3>
	<table>
		<tr><td class="column_left">Phone</td><td><%=h @pv_club.phone %></td></tr>
		<tr><td class="column_left">Email</td><td><%= auto_link_email_addresses(@pv_club.email) %></td></tr>
		<tr><td class="column_left">URL</td><td><%=h link_to("penvelo.org", @pv_club.url, :target => "_blank") %></td></tr>
	</table>

	<div id="executives">
  <h3>Officiers</h3>
    <%= render :partial => "form", :object => "executive" %>
  </div>

  <div id="board_members">
  <h3>Chairman of the Board</h3>
  <% board_chairman.each do |f| %>
    <table>
      <tr><td class="column_left"><%=h f.name %></td></tr>
    </table>
  <% end %>
	<h3>Board Members</h3>
    <%= render :partial => "form", :object => "board_member" %>
  </div>

	<div id="directors">
  <h3>Directors</h3>
  <%= render :partial => "form", :object => "director" %>
  </div>

  <div id="webmasters">
  <h3>Web Masters</h3>
    <%= render :partial => "form", :object => "site_admin" %>
  </div>

</div>

