  <h1>About <%=h @pv_club.name %></h1>

	<p><%= @pv_club.description %></p>

	<h2>Geographical Location</h2>
	<p><%=h @pv_club.location %></p>
	<h3>Contact info</h3>
	<table>
		<tr><td>Phone</td><td><%=h @pv_club.phone %></td></tr>
		<tr><td>Email</td><td><%= auto_link_email_addresses(@pv_club.email) %></td></tr>
		<tr><td>Url</td><td><%=h link_to("penvelo.org", @pv_club.url, :target => "_blank") %></td></tr>
	</table>

	<h3>Club Officers</h3>

  <h3>Chairman of the Board</h3>
  <% board_chairman.each do |f| %>
    <table>
      <tr><td><%=h f.name %></td></tr>
    </table>
  <% end %>
	<h3>Board Members</h3>
  <% board_members.each do |f| %>
    <table>
      <tr><td><%=h f.name %></td></tr>
    </table>
  <% end %>


	<h3>Directors</h3>
	<% if directors != nil %>
    <% directors.each do |f| %>
      <table>
        <tr><td><%=h f.name %></td></tr>
      </table>
    <% end %>
  <% end %>

  <h3>Web Masters</h3>
  <% webmasters.each do |f| %>
    <table>
      <tr><td><%=h f.name %></td></tr>
    </table>
  <% end %>

