<h1>Member Profile</h1>

<table>
  <title>User profile</title>
  <tr><th>ID</th><td><%=h @user.id %></td></tr>
  <tr><th>Name</th><td><%=h @user.name %></td></tr>
  <tr><th>Login name</th><td><%=h @user.login %></td></tr>
  <tr><th>Date of birth</th><td><%=h @user.date_of_birth %></td></tr>
  <tr><th>Gender</th><td><%=h @user.gender %></td></tr>
  <tr><th>Member's Image URL</th><td><%=h @user.user_image_url %></td></tr>
  <tr><th>Member's Image Gallery URL</th><td><%=h @user.image_gallery_url %></td></tr>
  <tr><th>Performance team member</th><td><%=h @user.performance_team_member %></td></tr>
  <tr><th>Usac license</th><td><%=h @user.usac_license %></td></tr>
  <tr><th>Active</th><td><%=h @user.active %></td></tr>
  <tr><th>Member since</th><td><%=h @user.member_since %></td></tr>
  <tr><th>Profile</th><td><%=h @user.profile %></td></tr>
  <tr><th>Login Count</th><td><%=h @user.login_count %></td></tr>
  <tr><th>Failed Login Count</th><td><%=h @user.failed_login_count %></td></tr>
  <tr><th>Last Login At</th><td><%=h @user.last_login_at %></td></tr>
  <tr><th>Last Login IP</th><td><%=h @user.last_login_ip %></td></tr>
  <tr><th>Created At</th><td><%=h @user.created_at %></td></tr>
  <tr><th>Updated At</th><td><%=h @user.updated_at %></td></tr>
</table>

<p>
<%= link_to 'Back', admin_users_path %> |
<%= link_to 'Edit', edit_admin_user_path(@user) %>
</p>

