<h1>Member Profile</h1>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Login name:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Date of birth:</b>
  <%=h @user.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%=h @user.gender %>
</p>

<p>
  <b>Member's Image URL:</b>
  <%=h @user.user_image_url %>
</p>

<p>
  <b>Member's Image Gallery URL:</b>
  <%=h @user.image_gallery_url %>
</p>

<p>
  <b>Performance team member:</b>
  <%=h @user.performance_team_member %>
</p>

<p>
  <b>Usac license:</b>
  <%=h @user.usac_license %>
</p>

<p>
  <b>Active:</b>
  <%=h @user.active %>
</p>

<p>
  <b>Member since:</b>
  <%=h @user.member_since %>
</p>



<p>
  <b>Profile:</b>
  <%=h @user.profile %>
</p>


<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>

