<% @clubs = Club.find(:all) %>
<% for club in @clubs -%>

<div id="header_1">



	<div id="club_logo">
		<%= link_to(image_tag(club.logo_url), root_url) %>
	</div>

	<div id="club_dates"><em>Est. <%= club.year %></em></div>



</div>

<div id="header_main">

	<div id="page-title">
		<h1>Welcome to the <%= club.name  %></h1>
	</div>
  <div id="headline">
		<p><%=h club.headline -%></p>
	</div>
  <div id="club-colors">
      <%= render :partial => "home/club_colors" %>
   </div>

	<div id="club-mission">
	  <h2>Our Mission</h2>
		<p><%= club.mission  %></p>
	</div>

	<div id="search">
		<form method="get" action="">
			<input class="iform" type="text"  size="25" maxlength="256" name="query" value="... search query ..." />
			<input type="submit" value="Search" class="button" />
		</form>
	</div>



</div>

<div id="header_2">



	<div id="sponsor_banner">
		<%= render :partial => "layouts/sponsors" %>
	</div>
<!--
	<div id="hidden-nav">
	  <%= render :partial => "layouts/hidden_nav" %>
	</div>
-->

</div>

<% end %>

