<ul>
  <div id="admin_home_link">
	<% show_to :site_admin do %>
      <li><%= link_to "Admin Home", admin_home_path %></li>
  <% end %>
  </div>
  <div id="login">
    <% if !current_user %>
      <li><%= link_to "Register", new_account_path %></li>
      <li><%= link_to "Log In", new_user_session_url %></li>
    <% else %>
      <li><%= link_to "My Profile", account_path %></li>
      <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
    <% end %>
  </div>
</ul>

