<ul>
	<li><%= link_to "Posts", club_posts_path %></li>
	<li><%= link_to "Sponsor Discounts", common_sponsor_discounts_path %></li>
	<li><%= link_to "Club Documents", club_documents_path %></li>
	<li><%= link_to "Calendar", common_calendars_path %></li>
  <li><%= link_to "Feedback", common_feedbacks_path %></li>

<div id="admin-home-link">
<% show_to :site_admin do %>
  <li><%= link_to "admin", admin_home_path %></li>
<% end %>
</div>

</ul>

