<div class="first-column">
  <div class="icon">
    <%= link_to(image_tag("facebook.png", :size => "30x30"), "http://www.facebook.com/", :target => :blank) %>
  </div>
  <div class="icon">
    <%= link_to(image_tag("twitter.png", :size => "30x30"), "http://twitter.com/", :target => :blank) %>
  </div>

</div>

<div class="column">
  <div class="icon">
    <%= link_to(image_tag("yahoo.png", :size => "30x30"), "http://sports.groups.yahoo.com/group/penvelo/", :target => :blank) %>
  </div>
  <div class="icon">

  </div>
  <div class="icon">
    <%= link_to(image_tag("youtube.png", :size => "30x30"), "http://www.youtube.com/", :target => :blank) %>
  </div>
</div>

<div class="column">
   <div class="icon">
   <%= link_to(image_tag("rssfeed.png", :size => "30x30"), common_newses_url(:rss)) %>


  </div>
</div>

