<div class="first-column">
  <div class="icon">
    <%= image_tag("facebook.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("twitter.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("myspace.png", :size => "25x25") %>
  </div>
</div>

<div class="column">
  <div class="icon">
    <%= image_tag("rssfeed.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("rssfeed.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("rssfeed.png", :size => "25x25") %>
  </div>
</div>

<div class="column">
  <div class="icon">
    <%= image_tag("facebook.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("twitter.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("myspace.png", :size => "25x25") %>
  </div>
</div>

<div class="column">
  <div class="icon">
    <%= image_tag("facebook.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("twitter.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("myspace.png", :size => "25x25") %>
  </div>
</div>

<div class="column">
  <div class="icon">
    <%= image_tag("facebook.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("twitter.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("myspace.png", :size => "25x25") %>
  </div>
</div>

