<div class="first-column">
  <div class="icon">
    <%= image_tag("facebook.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("twitter.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("myspace.png", :size => "25x25") %>
  </div>
</div>

<div class="column">
  <div class="icon">
    <%= image_tag("rssfeed.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("reddit.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("youtube.png", :size => "25x25") %>
  </div>
</div>

<div class="column">
  <div class="icon">
    <%= image_tag("stumbleupon.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("technorati.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("linkedin.png", :size => "25x25") %>

  </div>
</div>

<div class="column">
  <div class="icon">
    <%= image_tag("flickr.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("friendfeed.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("digg.png", :size => "25x25") %>
  </div>

</div>

<div class="column">
   <div class="icon">
    <%= image_tag("blogger.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("delicious.png", :size => "25x25") %>
  </div>
  <div class="icon">
    <%= image_tag("bebo2.png", :size => "25x25") %>
  </div>
</div>

