<ul>
	<li><%= link_to "Home", root_url %></li>
	<li><%= link_to "About", common_clubs_path %></li>
	<li><%= link_to "Sponsors", common_sponsors_path %></li>
	<li><%= link_to "News", common_newses_path %></li>
	<li><%= link_to "Races", common_races_path %></li>
	<li><%= link_to "Rides", common_rides_path %></li>
	<li><%= link_to "Members", common_members_path %></li>
	<li><%= link_to "Galleries", common_galleries_path %></li>
	<li><%= link_to "Calendar", common_calendars_path %></li>
</ul>

