<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Peninsula Velo Cycling Club Home Page</title>
	<meta name="author" content="Csaba Nemeth"/>
	<meta name="copyright" content="Copyright (c) 2010, Peninsula Velo Cycling Club" />
	<meta name="generator" content=""/>
	<meta name="classification" content="Bicycle CLub Home Page" />
	<meta name="keywords" content="PV, Penvelo, Peninsula Velo, Cycling, Cycling club" />
	<meta name="description" content="Web portal for Peninsula Velo Cycling Club" />
<!--	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> -->
<!--  <script type="text/javascript" src="javascripts/prototype.js"></script> -->
	<%=  javascript_include_tag :all %>
	<%= stylesheet_link_tag "scaffold", "pv", 'formtastic', 'formtastic_changes', :cashe => 'base', :media => "all" %>
</head>

<body>

	<div id="home-wrapper">

		<div id="home-header">
			<%= render :partial => "layouts/header" %>
		</div>

    <div id="menu">
			<%= render :partial => "layouts/topnav" %>
<% show_to :site_admin, :executive, :director, :board_member, :sponsor, :performance_team_member,  :basic_member do %>
			<%= render :partial => "layouts/secondary_nav" %>
<% end %>
		</div>

		<div class="clear"></div>

		<div id="home-main">
			<div id="sidebar">
        <%= render :partial => "layouts/sidebar" %>
      </div>

		  <div id="main_content">

			  <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>

				<%= yield :layout %>
			</div>
		</div>

    <div id="bottombar">
			<%= render :partial => "layouts/bottomnav" %>
		</div>

		<div class="clear"></div>
		<div id="footer">
			<%= render :partial => "layouts/footer" %>
		</div>
	</div>
</body>
</html>

